@model Model.EF.ThanhVien
@{
    ViewBag.Title = "DangKiThanhVien";
}


<head>
    <link rel="stylesheet" href="/Assets/Client/css/style.css">
</head>
@using (Html.BeginForm("DangKiThanhVien", "DangNhapThanhVien", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Tài khoản
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus", @id = "exampleInputName" } })
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mật Khẩu
            <div class="col-md-10">
                @Html.PasswordFor(model => model.MatKhau, new { @class = "input-user", @autofocus = "autofocus", @id = "exampleInputPassword1" })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Họ Tên
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày sinh
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus", @type = "date" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giới tính
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số điện thoại
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Quốc gia
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuocGia, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.QuocGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Thành phố
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThanhPho, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.ThanhPho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Địa chỉ
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Facebook
            <div class="col-md-10">
                @Html.EditorFor(model => model.FaceBookLink, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.FaceBookLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mô tả bản thân
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTaBanThan, new { htmlAttributes = new { @class = "input-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.MoTaBanThan, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng kí" class="btn btn-default" />
            </div>
        </div>
    </div>

}
